<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="header-wrapper">
        <div class="header-items">
            <div class="left">
                <nav>
                    {{#if loggedIn}}
                    <a href="/home">Home</a>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/login" id="logout">logout</a>
                    {{else}}
                    <a href="/login">login</a>
                    {{/if}}
                </nav>
            </div>
        <header>
            <h1>Tech Blog</h1>
        </header>
        </div>
    </div>
    <main class="flex-container">
        {{{ body }}}
    </main>
     {{#if loggedIn}}
     <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>