<form id="form">
    <div class="container">
    <h2>Fill out the fields below to add a new post.</h2>
    <div>
        <label for="post-title">Title:</label>
    </div>
    <div>
        <input type="text" id="post-title">
    </div>
    <div>
        <label for="post-text">Content:</label>
    </div>
    <div>
        <input type="text" id="content-input">
    </div>
    <div>
        <button class="submit">Submit</button>
        <button class="edit">Edit</button>
    </div>
    </div>
</form>

<script src="/javascript/add-post.js"></script>