<form class="login-form" id="form">
    <div class="form-container">
    <h4>login</h4>
    <div class="fields">
    <div>
        <label for="username-login">username:</label>
    </div>
    <div>
        <input type="text" id="username-login" />
   </div>
    <div>
        <label for="password-login">password:</label>
    </div>
    <div>
        <input type="password" id="password-login" />
    </div>
    </div>
    <button type="submit">login</button>
    <a href="/sign-up">Sign up instead</a>
    </div>
</form>

<script src="/javascript/login.js"></script>