<form class="signup-form">
    <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="text" id="pasword-signup" />
    </div>
    <button type="submit">login</button>
</form>
<a href="/login">login instead</a>

{{!-- import java script HERE --}}