<form class="sign-up-form" id="form">
    <div class="form-container">
    <h4>Sign Up</h4>
    <p>Please fill in the fields below to create an account.</p>
    <div class="fields">
    <div>
        <label for="username-sign-up">username:</label>
    </div>
    <div>
        <input type="text" id="username-sign-up" />
    </div>
    <div>
        <label for="password-login">password:</label>
    </div>
    <div>
        <input type="password" id="password-sign-up" />
    </div>
    <button type="submit">Submit</button>
    <a href="/login">login instead</a>
    </div>
    </div>
</form>

<script src="/javascript/sign-up.js"></script>