{{> post-info post }}

{{#if loggedIn}}
<form action="comment-form">
      <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">submit</button>
  </div>
</form>
{{/if}}

{{> comments post.comments }}

{{#if loggedIn}}
{{!-- add lings to front end js HERE --}}
{{/if}}