* {
    box-sizing: border-box;
  }

body {
    height:100%;
    padding:0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cornsilk;
    background-color: seagreen;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#form {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(26, 26, 41);
    width: 80%;
}

.form-container {
    margin: 15px;
    width: 100%;
}

ol li {
    list-style-type: none;
}
a {
    color:rgb(166, 216, 216);
    font-weight: bold;
    transition: color .2s;
}

.post-box {
    background-color:  rgb(26, 26, 41);
    margin: 5px;
}

.post-box h5 {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.post-box h5 span {
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.post-box span {
    justify-content: flex-end;
    width: 50%;
}
.post-text {
    background-color: seagreen;
    border-style: solid;
    border-color: rgb(26, 26, 41);
    height: 20%;
}

a:hover {
    color: rgb(0, 225, 255);
}

.header-wrapper {
    width: 100%;
    background-color: rgb(26, 26, 41);
}

.header-items {
    margin-left: 10px;
}

.left {
    display: flex;
    justify-content: start;
}

nav {
    display: flex;
    justify-content: space-evenly;
    
}

nav a {
    margin-left: 15px;
}

header {
    margin-left: 10px;
}

section {
    display: grid;
    grid-template-rows: 2;
}

button {
    background-color: rgb(26, 26, 41);
    border: .5;
    color: seagreen;
    font-weight:bold;
    border-radius: 10px;
    width: 20%;
}

button:hover {
    background-color: salmon;
}

textarea, input {
    height: 25px;
    width: 90%;
    border: .5px solid rgb(166, 216, 216);
}

textarea:focus, input:focus {
    border: 1px solid brown;
}

textarea {
    min-width: 100%;
    min-height: 100px;
}
