* {
    box-sizing: border-box;
  }

body {
    height:100%;
    padding:0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(62, 79, 112);
}

a {
    color:rgb(166, 216, 216);
    font-weight: bold;
    transition: color .2s;
}

a:hover {
    color: rgb(0, 225, 255);
}

button {
    background-color: rgb(26, 26, 41);
    border: .5;
    padding: 2%;
    color:rgb(62, 79, 112);
    font-weight:bold;
    border-radius: 15px;
}

button:hover {
    background-color: salmon;
}

.posts {
    margin: 0%;
    padding: 0%;
}
textarea, input {
    border-radius: 15px;
    border: .5px solid rgb(166, 216, 216);
}

textarea:focus, input:focus {
    border: 1px solid brown;
}

textarea {
    min-width: 42%;
    min-height: 100px;
}
